.logos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black; /* Adjust text color as needed */
}

.logo-link img {
  width: 30px;
  height: 30px;
}

.logo-text {
  margin-top: 5px;
}
