.logos-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black; /* Adjust text color as needed */
}

.logo-text {
  margin-top: 5px;
  text-align: center; /* Center the text */
}

/* styles.css or a similar stylesheet file */

.logo {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}
